In [1]:
%load_ext ngql
%ngql --address 127.0.0.1 --port 9669 --user root --password nebula

Connection Pool Created

                    Name
0       basketballplayer
1  demo_basketballplayer
2       demo_supplychain
3           freebase_15k
4          music_gateway
5                    nba
6                   news
7           supply_chain
8            supplychain

In [2]:
%ngql CREATE SPACE movie_recommendation(partition_num=1, replica_factor=1, vid_type=fixed_string(128));
# wait for a while

Empty DataFrame
Columns: []
Index: []

In [5]:
%ngql USE movie_recommendation;

Empty DataFrame
Columns: []
Index: []

In [6]:
%%ngql

CREATE TAG person(name string, birthdate string);
CREATE TAG movie(name string);
CREATE TAG genre(name string);
CREATE TAG `user`(user_id string);

CREATE EDGE acted_by();
CREATE EDGE directed_by();
CREATE EDGE with_genre();
CREATE EDGE watched(rate float);

Empty DataFrame
Columns: []
Index: []

In [ ]:
%ng_load --header --source https://github.com/wey-gu/awesome-graph-dataset/raw/main/datasets/movie_recommendation/small/people.csv --tag person --vid 0 --props 1:name,2:birthdate --space movie_recommendation

In [ ]:
%ng_load --header --source https://github.com/wey-gu/awesome-graph-dataset/raw/main/datasets/movie_recommendation/small/movies.csv --tag movie --vid 0 --props 1:name --space movie_recommendation

In [ ]:
%ng_load --header --source https://github.com/wey-gu/awesome-graph-dataset/raw/main/datasets/movie_recommendation/small/genres.csv --tag genre --vid 0 --props 1:name --space movie_recommendation

In [ ]:
%ng_load --source https://github.com/wey-gu/awesome-graph-dataset/raw/main/datasets/movie_recommendation/small/user_watched_movies.csv --tag user --vid 0 --props 0:user_id --space movie_recommendation

In [ ]:
%ng_load --source https://github.com/wey-gu/awesome-graph-dataset/raw/main/datasets/movie_recommendation/small/user_watched_movies.csv --edge watched --src 0 --dst 3 --props 1:rate --space movie_recommendation

In [ ]:
%ng_load --header --source https://github.com/wey-gu/awesome-graph-dataset/raw/main/datasets/movie_recommendation/small/with_genre.csv --edge with_genre --src 0 --dst 1 --space movie_recommendation

In [ ]:
%ng_load --header --source https://github.com/wey-gu/awesome-graph-dataset/raw/main/datasets/movie_recommendation/small/directed_by.csv --edge directed_by --src 0 --dst 1 --space movie_recommendation

In [ ]:
%ng_load --header --source https://github.com/wey-gu/awesome-graph-dataset/raw/main/datasets/movie_recommendation/small/acted_by.csv --edge acted_by --src 0 --dst 1 --space movie_recommendation

In [27]:
%ngql SUBMIT JOB STATS;

   New Job Id
0          27

In [28]:
# Wait for a while
# There are duplicated data being ingested, thus stats is less than ingested data.
%ngql SHOW STATS;

    Type         Name    Count
0    Tag        genre    14397
1    Tag        movie    20701
2    Tag       person   263907
3    Tag         user      610
4   Edge     acted_by   673763
5   Edge  directed_by   101949
6   Edge      watched    31781
7   Edge   with_genre   194009
8  Space     vertices   299615
9  Space        edges  1001502

In [32]:
%%ngql 

MATCH p = (u)-->()--()--() WHERE id(u) == "u_10" RETURN p LIMIT 10

                                                   p
0  ("u_10" :user{user_id: "u_10"})-[:watched@0{ra...
1  ("u_10" :user{user_id: "u_10"})-[:watched@0{ra...
2  ("u_10" :user{user_id: "u_10"})-[:watched@0{ra...
3  ("u_10" :user{user_id: "u_10"})-[:watched@0{ra...
4  ("u_10" :user{user_id: "u_10"})-[:watched@0{ra...
5  ("u_10" :user{user_id: "u_10"})-[:watched@0{ra...
6  ("u_10" :user{user_id: "u_10"})-[:watched@0{ra...
7  ("u_10" :user{user_id: "u_10"})-[:watched@0{ra...
8  ("u_10" :user{user_id: "u_10"})-[:watched@0{ra...
9  ("u_10" :user{user_id: "u_10"})-[:watched@0{ra...

In [33]:
%ng_draw

<class 'pyvis.network.Network'> |N|=13 |E|=30

In [34]:
%ng_draw_schema

<class 'pyvis.network.Network'> |N|=4 |E|=4